.table .card__btn {
  display: inline;
  margin: 0 5px;
  padding: 0.1rem 0.4rem;
  vertical-align: middle;
}

.table .card__btn.fas {
  margin-left: 1rem;
  padding: 0.25rem 0.4rem;
  font-size: 0.65rem;
}
