// > App
.app {
  margin: 0 3em;
  padding: 0 0 3em;
}

// >> Header
.app__header {
  margin-bottom: 32px;
}
.app__title {
  background: black;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  color: white;
}

// >> Filter
.app__filter {
  background: #414141;
  padding: 5px;
}
.app__filter-item {
}
.app__filter-full-name {
  border: 0;
  padding: 10px;
  font: inherit;
  width: 100%;
  box-sizing: border-box;
  color: red;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}

// >> List
.app__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app__list-item {
  & + .app__list-item {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #d4d4d4;
  }
}

// >> Criaturas
.person {
  position: relative;
  padding-left: 92px;
  min-height: 72px;
}
.person__name {
  text-transform: capitalize;
  margin: 0 0 10px;
  font-size: 22px;
}
.person__image {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.person__age,
.person__city {
  display: inline;
  font-size: 16px;
}
.person__age {
  &::after {
    content: ',';
    padding-right: 0.3em;
  }
}
.person__city {
  text-transform: capitalize;
}

// >> Detail
.person--detail {
  text-align: center;
  padding-left: 0;

  .person__image {
    position: static;
    margin: 0 auto 24px;
  }
}
